.header {
    width:100%;
    display:flex;
    height:50px;
    background-color:blue;
}

.logo {
    width:10%;
    background-color:black;
}

.logoafter {
    width:90%;
    background-color:gray;
}

ul {
    list-style-type: none;
    display:flex;
}

li {

    background-color:cyan;
    width:10%;
    height:50px;
    margin:10px;
}

li:hover {
    background-color:black;
}