@charset "UTF-8";
#map {
	 width: 600px; 
	 height: 600px;
}

#content {
	width:250px;
	height:100px;
	padding:5px;
	border:1px solid DodgerBlue;
	text-align: center;
}

#content  a {
	text-decoration: none;
	text-align: center;
	color: skyblue;
}

#content  a :visited {
	color: skyblue;
}