/* -----------------------------------------------------
  Pure CSS Progress Bars
  GitHub Project: https://github.com/rkchauhan/pure-css-progress-bars/
  By: Ravikumar Chauhan
  Find me on -
  Twitter: https://twitter.com/rkchauhan01
  Facebook: https://www.facebook.com/ravi032chauhan
  GitHub: https://github.com/rkchauhan
  CodePen: http://codepen.io/rkchauhan
-------------------------------------------------------- */
/* -----------------------------------------------------
  Google Roboto font
-------------------------------------------------------- */
/* -----------------------------------------------------
  Body
-------------------------------------------------------- */
body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 1em;
  background-color: #F8F8F8;
}

*, *::after, *::before {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #ffa000;
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: underline;
}

/* -----------------------------------------------------
    Main
-------------------------------------------------------- */
main {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}
main .examples {
  display: block;
  margin-bottom: 65px;
  background-color: #faecd8;
  padding: 15px;
}
main .examples h3 {
  color: #444;
  margin: 0;
  padding: 0 0 20px 0;
}


